from container_pipeline.lib.default_settings import *  # noqa

BEANSTALKD_HOST = os.environ.get('BEANSTALKD_HOST') or '{{ beanstalk_server }}'
OPENSHIFT_ENDPOINT = os.environ.get('OPENSHIFT_ENDPOINT') or 'https://{{ openshift_server_ip }}:8443'
OC_CONFIG = '/src/node.kubeconfig'
OC_CERT = '/src/ca.crt'
