apiVersion: v1
kind: PersistentVolume
metadata:
  name: jenkins
  namespace: cccp
spec:
  capacity:
    storage: 5Gi
  accessModes:
  - ReadWriteOnce
  nfs:
    path: /jenkins
    server: "{{ groups['nfs_registry'][0] }}"
  persistentVolumeReclaimPolicy: Recycle
