[all:children]
jenkins_master
jenkins_slaves
openshift
scanner_worker

[jenkins_master]
jenkins-master

[jenkins_slaves]
jenkins-slave

[openshift]
openshift

[scanner_worker]
scanner_worker

[all:vars]
# update as needed
public_registry=jenkins-slave
intranet_registry=jenkins-slave:5000
beanstalk_server=openshift
rsync_ssh_opts=""

# update index repo URL per requirement
cccp_index_repo=https://github.com/centos/container-index.git

## dev environment options, update following to true to configure NFS
setup_nfs=False

# replace scanner_worker below with its FQDN / IP
#test_nfs_share=scanner_worker:/nfsshare

# for distinguishing emails from production or devcloud
# keep it True for production and False for non production
production=True

# Set log level
log_level = DEBUG

[jenkins_master:vars]
# update as needed
oc_slave=jenkins-slave
