[all:children]
jenkins_master
jenkins_slaves
openshift
scanner_worker

[jenkins_master]
jenkins-master

[jenkins_slaves]
jenkins-slave

[openshift]
open-shift

[scanner_worker]
scanner-worker

[jenkins_master:vars]
# update as needed
oc_slave=jenkins-slave
logrotate_maxsize=100M
logrotate_rotate=5

[all:vars]

## Basic Config
#======================================
# Set log level
log_level = DEBUG
# configure registry node
#for prod public_registry=registry.centos.org 
public_registry=jenkins-slave
intranet_registry=jenkins-slave:5000
# configure beanstalkd server node
beanstalk_server=open-shift
db_host=jenkins-master


## Container Index related config
#======================================
# configure projects to build, point container-index git URL
cccp_index_repo=https://github.com/centos/container-index.git
# branch of cccp_index_repo
cccp_index_repo_branch=master


## NFS Config related options
#======================================
# update following to true to configure NFS, needed for dev environment
setup_nfs=False
# replace scanner-worker below with its FQDN / IP, needed if setup_nfs=True
#test_nfs_share=scanner-worker:/nfsshare


## Email related config
#======================================
# for distinguishing emails from production, pre-prod, test environments
# give either value among [production, pre-prod, test]
# default is production
deployment=production
