swagger: '2.0'
info:
  title: 'APIs CentOS Community Container Pipeline Service'
  description: 'This document serves as API sepcification design document for CentOS Contianer Pipeline service. Purpose of APIs- Serve the project and build information - viz [names, status, logs, etc]. Consumer of APIs -  Registry UI https://registry.centos.org, This will use the APIs to show build information - viz [build names, logs, Dockerfile, etc].'
  version: 1.0.0
host: registry.centos.org
basePath: /api/v1/
consumes:
  - application/json
produces:
  - application/json
schemes:
  - https
tags:
  - name: infra
    description: 'APIs serving infra related information as liveness, help.'
  - name: meta
    description: 'APIs serving meta information for projects, namespaces, etc.'
  - name: projects
    description: APIs serving details about projects indexed for building.
  - name: builds
    description: APIs serving details about builds of projects in service.
paths:
  /liveness:
    get:
      tags:
        - infra
      summary: Get the liveness of API service
      description: ''
      operationId: ccp.apis.v1.liveness
      responses:
        '200':
          description: Service is alive.
          schema:
            $ref: '#/definitions/Status'
  /help:
    get:
      tags:
        - infra
      summary: Get the API documentation
      description: ''
      operationId: ccp.apis.v1.help
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ApiDoc'
        '404':
          description: Docs not found
          schema:
            $ref: '#/definitions/Meta'
  /namespaces:
    get:
      tags:
        - meta
      summary: Get all available namespaces accessible over APIs
      description: ''
      operationId: ccp.apis.v1.namespaces
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Namespaces'
        '404':
          description: No namespaces found
          schema:
            $ref: '#/definitions/Meta'
  /$namespace/projects:
    get:
      tags:
        - meta
      summary: Get all the projects in given namespace.
      description: ''
      operationId: ccp.apis.v1.projects
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Projects'
  /$namespace/$app-id/$job-id/$desired-tag/metadata:
    get:
      tags:
        - projects
      summary: Get the metadata of the given project name.
      description: Get all the metadata of project as provided in container index.
      operationId: ccp.apis.v1.metadata
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProjectMetadata'
  /$namespace/$app_id/$job_id/desired-tags:
    get:
      tags:
        - projects
      summary: Get tags for given $app_id/$job_id with build status and image
      description: Get all the tags defined for given $app_id/$job_id along with latest build status and image
      operationId: ccp.apis.v1.desired_tags
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/AppIdJobIdTags'
  /$namespace/$app-id/$job-id/$desired-tag/target-file:
    get:
      tags:
        - projects
      summary: Get Dockerfile for given project
      description: Get Dockerfile for given project
      operationId: ccp.apis.v1.target_file
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/TargetFile'
  /$namespace/$app-id/$job-id/$desired-tag/builds:
    get:
      tags:
        - builds
      summary: Get all the builds info for given project
      description: 'Get all the builds number, name and status'
      operationId: ccp.apis.v1.builds
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ProjectBuildsInfo'
  /$namespace/$app-id/$job-id/$desired-tag/wscan-builds:
    get:
      tags:
        - builds
      summary: Get all the weekly scan builds info for given project
      description: Get all the weekly scan builds info for given project
      operationId: ccp.apis.v1.wscan_builds
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WeeklyScanBuildsInfo'
  /$namespace/$app-id/$job-id/$desired-tag/$build/build-logs:
    get:
      tags:
        - builds
      summary: Get the referenced build logs
      description: Get the referenced build logs
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/BuildLogs'
  /$namespace/$app-id/$job-id/$desired-tag/$build/wscan-logs:
    get:
      tags:
        - builds
      summary: Get the referenced wscan build logs
      description: Get the referenced wscan build logs
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/WeeklyScanLogs'
definitions:
  Meta:
    title: Meta info about APIs
    description: List apiVersion and timestamp of the API request
    properties:
      apiVersion:
        type: string
      timestamp:
        type: string
  Status:
    title: Status of API server
    description: Status of API server
    properties:
      meta:
        $ref: '#/definitions/Meta'
      status:
        type: string
  ApiDoc:
    title: API document
    description: Api Documentation
    properties:
      meta:
        $ref: '#/definitions/Meta'
      docs:
        type: object
  Namespaces:
    title: List of available OpenShift namespaces
    description: List of readable namespaces by API server
    properties:
      meta:
        $ref: '#/definitions/Meta'
      namespaces:
        type: array
        items:
          type: string
  Project:
    title: Basic information about a project
    description: Basic information about a project
    properties:
      app_id:
        type: string
      job_id:
        type: string
      desired_tag:
        type: string
      name:
        type: string
  Projects:
    title: List of all the projects in given namespace
    description: List of all projects in given namespace
    properties:
      meta:
        $ref: '#/definitions/Meta'
      projects:
        type: array
        items:
          $ref: '#/definitions/Project'
  ProjectMetadata:
    title: List all the info about project as provided in container index
    description: List all the info about project as provided in container index
    properties:
      meta:
        $ref: '#/definitions/Meta'
      app_id:
        type: string
      job_id:
        type: string
      desired_tag:
        type: string
      git_url:
        type: string
      git_branch:
        type: string
      git_path:
        type: string
      target_file:
        type: string
      build_context:
        type: string
      notify_email:
        type: string
      depends_on:
        type: string
      prebuild_script:
        type: string
      prebuild_context:
        type: string
  AppIdJobIdTag:
    title: Tag for given $app_id/$job_id with build status and image
    description: Info about each tag for given $app_id/$job_id with latest build status
    properties:
      desired_tag:
        type: string
      project_name:
        type: string
      build_status:
        type: string
      image:
        type: string
  AppIdJobIdTags:
    title: Tags defined for given $app_id/$job_id
    description: Get all the tags defined for given $app_id/$job_id along with latest build status and image
    properties:
      meta:
        $ref: '#/definitions/Meta'
      app_id:
        type: string
      job_id:
        type: string
      tags:
        type: array
        items:
          $ref: '#/definitions/AppIdJobIdTag'
  TargetFile:
    title: Link to target Dockerfile
    description: 'Link to target Dockerfile for given project, also return boolean if project has prebuild defined'
    properties:
      prebuild:
        type: boolean
      target_file_link:
        type: string
  ProjectBuildNameStatus:
    title: Build name and status
    description: Build name and status
    properties:
      build:
        type: string
      status:
        type: string
  ProjectWeeklyScanBuildNameStatus:
    title: Weekly scan build name and status
    description: Weekly scan build name and status
    properties:
      weeklyscan-build:
        type: string
      status:
        type: string
  ProjectBuilds:
    properties:
      build_number:
        $ref: '#/definitions/ProjectBuildNameStatus'
  ProjectWeeklyScanBuilds:
    properties:
      build_number:
        $ref: '#/definitions/ProjectWeeklyScanBuildNameStatus'
  ProjectBuildsInfo:
    title: All the builds info for given project
    description: All builds info for given project
    properties:
      meta:
        $ref: '#/definitions/Meta'
      builds:
        $ref: '#/definitions/ProjectBuilds'
  WeeklyScanBuildsInfo:
    title: All the weekly scan builds info for given project
    description: All the weekly scan builds info for given project
    properties:
      meta:
        $ref: '#/definitions/Meta'
      wscan-builds:
        $ref: '#/definitions/ProjectWeeklyScanBuilds'
  ScannerLogs:
    title: Scanner log
    description: All the scanner logs
    properties:
      logs:
        type: string
      description:
        type: string
  AllScannerLogs:
    title: All scanner logs
    description: All scanner logs
    properties:
      scanner_name:
        $ref: '#/definitions/ScannerLogs'
  PrebuildLintBuildScanLogs:
    title: 'Prebuild, lint, build, scan phase logs'
    description: 'Prebuild, Lint, build, scan phase logs'
    properties:
      prebuild:
        type: string
      lint:
        type: string
      build:
        type: string
      scan:
        $ref: '#/definitions/AllScannerLogs'
  BuildLogs:
    title: 'Build info with lint, build, scan phase logs'
    description: 'Build info with lint, build, scan phase logs'
    properties:
      meta:
        $ref: '#/definitions/Meta'
      build:
        type: string
      pre-build:
        type: boolean
      status:
        type: string
      failed-stage:
        type: string
      logs:
        $ref: '#/definitions/PrebuildLintBuildScanLogs'
  WeeklyScanLogs:
    title: Weekly scan info with scan logs
    description: Weekly scan info with scan logs
    properties:
      meta:
        $ref: '#/definitions/Meta'
      build:
        type: string
      status:
        type: string
      logs:
        $ref: '#/definitions/AllScannerLogs'
