---
# Push oc files to jenkins slaves
- name: Ensure /opt/cccp-service/client dir exists on Jenkins slaves
  file: dest=/opt/cccp-service/client state=directory

- name: Push oc files to Jenkins slaves
  synchronize:
    mode: push
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    rsync_opts:
        - "{{ rsync_ssh_opts }}"
  with_items:
    - {src: /tmp/oc, dest: /usr/bin/oc}
    - {src: /tmp/oc, dest: /opt/cccp-service/oc}
    - {src: /tmp/oc_ca.crt, dest: /opt/cccp-service/ca.crt}
    - {src: /tmp/oc_node.kubeconfig, dest: /opt/cccp-service/node.kubeconfig}

- name: Replace Beanstalk server with its FQDN for build request
  replace: >
      dest=/opt/cccp-service/client/send_build_request.py
      regexp="BEANSTALK_SERVER"
      replace='{{ groups['openshift'][0] }}'
  tags: application

- name: Replace Beanstalk server with its FQDN for dockerfile lint trigger
  replace: >
      dest=/opt/cccp-service/client/trigger_dockerfile_lint.py
      regexp="BEANSTALK_SERVER"
      replace='{{ groups['openshift'][0] }}'
  tags: application

- name: Replace OpenShift server with its FQDN for build project sh
  replace: >
      dest=/opt/cccp-service/client/build_project.sh
      regexp="OPENSHIFT_SERVER_HOST"
      replace='{{ groups['openshift'][0] }}'
  tags: application

- name: Copy OpenShift template file
  template:
    src: template.json.j2
    dest: /opt/cccp-service/container_pipeline/template.json
  tags: application

- name: Ensure jenkins is owner of /opt/cccp-service/client dir in slave
  file: path=/opt/cccp-service/client owner=jenkins group=jenkins recurse=yes
  tags: application

- name: Ensure  build_project.sh is executable
  file: path=/opt/cccp-service/client/build_project.sh mode='u+x'
  tags: application

- name: Create script for image prune
  template:
    src: imageprune.sh.j2
    dest: /usr/bin/delete_images.sh
  tags: application

- name: Add cron job to cleanup old images
  cron: name="registry cleanup" special_time=daily job="/usr/bin/delete_images.sh"
  tags: application
