---
- name: Enable Docker insecure registry
  lineinfile:
    dest: /etc/sysconfig/docker
    state: present
    regexp: "^#*INSECURE_REGISTRY=.*"
    line: 'INSECURE_REGISTRY="--insecure-registry 172.30.0.0/16 --insecure-registry {{ intranet_registry }}"'

- name: Enable Docker registry
  lineinfile:
    dest: /etc/sysconfig/docker
    state: present
    regexp: "^#*ADD_REGISTRY=.*"
    line: 'ADD_REGISTRY="--add-registry {{ public_registry }} --add-registry registry.centos.org"'

- name: Restart Docker
  service: name=docker state=restarted enabled=yes

- name: Create openshift shared dirs
  file: name={{item}} state=directory
  with_items: "{{ openshift_shared_dirs }}"

- name: Set SELinux context for openshift shared dirs
  command: chcon -Rt svirt_sandbox_file_t {{ item }}
  with_items: "{{ openshift_shared_dirs }}"

- name: Pull openshift images
  docker_image:
      name: "{{ item }}"
      tag: "{{ origin_image_tag }}"
  with_items:
      - "{{ origin_image_registry }}/{{ origin_image_name }}"
      - "{{ origin_image_registry }}/{{ origin_image_name }}-haproxy-router"
      - "{{ origin_image_registry }}/{{ origin_image_name }}-deployer"
      - "{{ origin_image_registry }}/{{ origin_image_name }}-docker-registry"
      - "{{ origin_image_registry }}/{{ origin_image_name }}-pod"

- name: Create OpenShift origin container
  docker_container:
    name: origin
    image: "{{ origin_image_registry }}/{{ origin_image_name }}:{{ origin_image_tag }}"
    privileged: yes
    pid_mode: host
    network_mode: host
    volumes: "{{ openshift_volumes }}"
    command: start --master=https://"{{ansible_default_ipv4.address}}":8443
    restart_policy: always
    restart_retries: 2

- name: Wait for Openshift to come up
  pause: seconds={{ openshift_startup_delay }}

- name: Copy Openshift binaries
  command: docker cp origin:/usr/bin/openshift {{item}}
  with_items:
    - /usr/bin/oc
    - /usr/bin/oadm

- name: Ensure openshift binaries are executable
  file: dest="{{ item }}" mode="a+x"
  with_items:
    - /usr/bin/oc
    - /usr/bin/oadm

- name: Set perms for kubeconfig
  file: dest={{kubeconfig}} mode="go+r"
