---
- name: Pull oc files from openshift
  synchronize:
    mode: pull
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    rsync_opts:
      - "{{ rsync_ssh_opts }}"
  with_items:
    - {src: /var/lib/origin/openshift.local.config/master/ca.crt, dest: /tmp/oc_ca.crt}
    - {src: /var/lib/origin/openshift.local.config/master/admin.kubeconfig,dest: /tmp/oc_node.kubeconfig}
