---
- name: Create test user 
  command: "{{ item }}"
  with_items:
    - "oadm policy add-role-to-user view test-admin --config={{ kubeconfig }}"
  environment:
    KUBECONFIG: "{{ kubeconfig }}"
  ignore_errors: yes

- name: Create image pruner for cleaning up the system
  command: "{{ item }}"
  with_items:
    - "oadm policy add-cluster-role-to-user system:image-pruner imageprune --config={{ kubeconfig }}"
  environment:
    KUBECONFIG: "{{ kubeconfig }}"
  ignore_errors: yes

- name: Get cccp service code
  copy:
    src: ../../../../
    dest: "{{ ansible_env.HOME }}/cccp-service"
    mode: a+x

- name: Build cccp build image
  shell: docker build -t cccp-build -f ./Dockerfile.build .
  args:
      chdir: "{{ ansible_env.HOME }}/cccp-service/server"

- name: Build cccp test image
  shell: docker build -t cccp-test -f ./Dockerfile.test .
  args:
      chdir: "{{ ansible_env.HOME }}/cccp-service/server"

- name: Build cccp delivery image
  shell: docker build -t cccp-delivery -f ./Dockerfile.delivery .
  args:
      chdir: "{{ ansible_env.HOME }}/cccp-service/server"
