<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <name>{{ item.name }}</name>
  <description>{{ item.description }}</description>
  <remoteFS>/srv/jenkins</remoteFS>
  <numExecutors>{{ item.capacity }}</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.9">
    <host>{{ item.host }}</host>
    <port>22</port>
    <credentialsId>e8f7d993-acfb-42b0-a324-e4145361b9ea</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label>{{ item.labels }}</label>
  <nodeProperties/>
  <userId>mizdebsk</userId>
</slave>
