---
- name: Ensure cccp data dir exists
  file:
    path: '{{ db_backup_host_path }}'
    state: directory
  sudo: yes
  tags: db

- name: Set ACL for data dir on host
  acl:
    path: '{{ db_backup_host_path }}'
    default: yes
    entity: '{{ postgresql_uid }}'
    etype: user
    follow: no
    permissions: wx
    recursive: yes
    state: present
  sudo: yes
  tags: db

- name: Reload docker systemd service
  sudo: yes
  systemd: name=docker state=reloaded

- name: Start Docker service
  sudo: yes
  systemd: name=docker state=started enabled=yes

- name: Pull CentOS postgres container
  docker_image:
      name: registry.centos.org/sclo/postgresql-95-centos7
      tag: latest
  sudo: yes
  tags: db

- name: Run postgres container
  docker_container:
      name: postgres
      image: registry.centos.org/sclo/postgresql-95-centos7
      volumes:
          - "{{ db_backup_host_path }}:/var/lib/pgsql/data:Z"
      ports:
          - "{{ db_host }}:{{ db_port }}:5432"
      env:
          POSTGRESQL_USER: '{{ db_user }}'
          POSTGRESQL_PASSWORD: '{{ db_pass }}'
          POSTGRESQL_DATABASE: '{{ db_name }}'
      state: started
      restart_policy: on-failure
  sudo: yes
  tags: db

- name: Wait for 20 seconds for the db to come up
  pause:
      seconds: 20
  tags: db
