#!/bin/bash
BACKUPDIR="{{ db_backup_nfs_path}}"

DBPORT="{{ db_port }}"
DBUSER="{{ db_user }}"
DBNAME="{{ db_name }}"
DBPASS="{{ db_pass }}"

PGIMAGE="{{ postgresql_image }}"

DATE=`date +%Y-%m-%d-%H-%M-%S`
OUTPUTFILE="/tmp/$DATE-$DBNAME-pgdump.tar"

PGDUMPCOMMAND="PGHOST=\$POSTGRES_PORT_5432_TCP_ADDR PGPORT=$DBPORT PGDATABASE=$DBNAME PGUSER=$DBUSER PGPASSWORD=$DBPASS pg_dump -F tar --dbname $DBNAME -f $OUTPUTFILE"

function pg_backup_database
{
  docker run --rm --link postgres -v $BACKUPDIR:/tmp $PGIMAGE bash -c "$PGDUMPCOMMAND"
  echo "finished."
}

echo "------------------------------------------------------"
echo `date +'%F %T'` Starting postgresql $DBNAME db backup..
echo "------------------------------------------------------"
pg_backup_database
echo `date +'%F %T'` postgresql $DBNAME db backup completed.
echo "------------------------------------------------------"
