[Unit]
Description=cccp-scan-worker.service

[Service]
Environment=PYTHONPATH=/opt/cccp-service
ExecStart=/opt/cccp-service/container_pipeline/workers/scanners/scan.py
Restart=on-failure
