[Unit]
Description=cccp-dockerfile-lint-worker.service

[Service]
ExecStart=/opt/cccp-service/container_pipeline/workers/linter.py
Restart=on-failure
